@font-face {
  font-family: font1;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: font2;
  src: url("/fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-f2);
  font-weight: 600;
}

:root {
  --font-f1: "font1";
  --font-f2: "font2";
  --font-c1: #0e0e0e;
  --font-c2: #222121;
  --font-c3: #f3f3f3;

  /*======COLOR.ACT======*/
  --bg-a1: #fafafa;
  --bg-a2: #ececec;
  --bg-a3: #cac9c9;
  --bg-a4: #b3b3b5;
  --bg-a5: #9b9b9f;
  --bg-a6: #8d8d91;
  --bg-a7: #78787c;
  --bg-a8: #646469;
  --bg-a8: #535358;
  --bg-a8: #47474c;

  --button-c: #243ac5;
  --button-d: #4c5bbc;

  --err: #e83333;
  --succ: #19ad19;

  /*======DARK======*/
  --darkv1: #2d3747;
  --darkv2: #282d34;
  --darkv3: #171923;
  --darkv4: #2d3748;
  --darkv5: #23262b;
  --darkv6: #e2e2e3;

  /*======LIGHT=====*/
  --lightv1: #f7fafc;
  --lightv2: #ffffff;
  --lightv3: #edf2f7;
  --lightv4: #53c8c4;
  --lightv5: #e2e8f0;
}

html {
  background-color: var(--bg-a2);
  overflow-x: hidden;
}

.container {
  display: flex;
}
