.input {
  position: relative;
  text-align: center;
  margin: 0px 0px 20px 0px;

  label {
    position: absolute;
    font-size: 17px;
    color: #dadada84;
    top: 15%;
    left: 8%;
    transition: 0.2s;
    cursor: text;

    &[data-name="err"] {
      color: var(--err);
    }
  }
  .label {
    background-color: var(--bg-a1);
    font-size: 10px;
    top: -6px;
    padding: 0px 4px;
  }

  input {
    width: 85%;
    color: var(--font-c1);
    background-color: transparent;
    border: 1px solid var(--bg-a4);
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    font-size: 17px;

    &:focus {
      border: 2px solid var(--bg-a4);

      ~ label {
        background-color: var(--bg-a1);
        font-size: 10px;
        top: -6px;
        padding: 0px 4px;
      }
    }
    &[class="err"] {
      border: 1px solid var(--err);
      animation: err 0.5s normal linear;

      @keyframes err {
        10%,
        30%,
        50%,
        70%,
        90% {
          transform: translateX(2px);
        }
        20%,
        40%,
        60%,
        80% {
          transform: translateX(-2px);
        }
      }
    }
  }
}

.errmsg {
  text-align: left;
  color: var(--err);
  font-size: 10px;
  width: 90%;
  margin: 0px auto;
}
