.info {
  .img {
    width: max-content;

    img {
      width: 300px;
    }
  }
}

.Home {
  color: #fff;
  font-family: sans-serif;
  width: 50%;
  margin: 10px 30px 10px 60px;
  h1 {
    font-weight: 600;
    margin: 30px 0px;

    span {
      background-color: #000;
      padding: 1px 5px;
    }
  }
}

@media screen and (max-width: 800px) {
  .info {
    .img {
      padding: 180px 0px 0px 0px;
    }
  }
  .Home {
    width: 85%;
  }
}
