.main {
  background-color: var(--bg-a3);
  height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
